.root-container {
  width: 100vw;
  height: 100vh;
}

header {
  border-bottom: 0.5px solid #1f2937; /* color : Gray 800 */
}

.root-content {
  height: calc(100% - 60px);
}
.main-side-panel {
  width: 12%;
  height: 100%;
  border-right: 0.5px solid #1f2937;
}

.main-content-container {
  width: 88%;
  height: 100%;
  background-color: #333 !important;
}
